build/
dist/
venv/
installer/
.vscode/**
**/__pycache__/

.pem
**/token.json
icons/app_icon/icon.pdn
icons/app_icon/*/
lib/upx-3.96-win64/
*.lnk
*.code-workspace
*.log
test.py
icons/Thumbs.db
allout.txt
